html,
body {
    background: #FFFFFF;
    font-family: Copperplate, Papyrus, fantasy;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app{
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-areas: "header header"
                         "col-left col-right"
                         "footer footer";
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 60px 1fr 50px;*/
    grid-auto-rows: minmax(50px, auto);
    font-family: Copperplate, Papyrus, fantasy;
}


.title{
    text-align: center;
    margin: auto;
    color: #8B0000;
}

.headline{
    grid-area: header;
    font-size: 2em;
    background: #F08080;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid maroon;
}

.left{
    grid-area: col-left;
    font-size: 2em;
    height: 100%;
    padding: 1em;
    margin: auto;
}

.entry{
    grid-area: col-right;
    font-size: 2em;
    height: 100%;
    padding: 1em;
    margin: auto;
}

.feel,
.zip{
    font-size: 1em;
    padding: 1em 0.5em;
}

#zip {
    padding: 0.2em;
}

.footer{

}
.card{
    background: #F08080;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    padding: 1em;
    max-width: 400px;
    min-height: 200px;
    margin: auto;
}
#entryHolder{
    font-size: 14px;
	font-family: Copperplate, Papyrus, fantasy;
}

#date{

}

#temp{

}

#content{

}


.title{
    width: 100%;
}

small{
    font-size: 12px;
}

/*Basic Styling To Override Default For Basic HTML Elements*/
label{
    display:block;
    font-size: 20px;
    width: 80%;
    margin: auto;
}

input{
    display: block;
    color: #BC8F8F;
    width: 60%;
    font-size: 16px;
    font-family: Copperplate, Papyrus, fantasy;
    border: 3px solid maroon;
    border-radius: 10px;
    padding: 0.2em;
    margin: auto;
    margin-top: 0.5em;
}

button{
    background: #800000;
    color: #FFB6C1;
    font-size: 14px;
    padding: 6px 16px;
    border-radius: 20px;
    font-family: Copperplate, Papyrus, fantasy;
    border: 3px solid maroon;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
    width: 120px;
    margin: 0 auto;
    text-align: center;
}

button:active{
    box-shadow: 1px 2px 3px #444;
}

h1{
    font-size: 32px;
}

.center{
    text-align: center;
    width: 100%;
    margin: auto;
}

textarea{
    display:block;
    color: #BC8F8F;
    width: 80%;
    font-size: 14px;
    font-family: Copperplate, Papyrus, fantasy;
    border: 3px solid maroon;
    border-radius: 10px;
    padding: 0.2em;
    margin: auto;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: black; 
    font-family: Copperplate, Papyrus, fantasy;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: black; 
    font-family: Copperplate, Papyrus, fantasy;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: black; 
    font-family: Copperplate, Papyrus, fantasy;

} 

@media (max-width: 768px){
    #app{
        grid-template-areas:"header"
                            "col-right"
                            "col-left "
                            "footer";
        grid-template-columns: 1fr;
        /* grid-template-rows: 60px auto auto 50px; */
    }

}
